altair
argon2-cffi
astor
asttokens
attrs
backcall
backports.zoneinfo
base58
bcrypt
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
defusedxml
dnspython
email_validator
entrypoints
executing
fastjsonschema
flask>=2.2.0
flask-bcrypt
flask-cors
flask-jwt-extended
flask-login
flask-mail
flask-wtf
gitdb
gunicorn
gitpython
idna
importlib-resources
importlib_metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
markupsafe
matplotlib
matplotlib-inline
mistune
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
notebook
packaging
pandas
pandocfilters
parso
pickleshare
pillow
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
pygments
pyjwt
pyngrok
pyparsing
pyrsistent
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
pywinpty
pyyaml
pyzmq
requests
scikit-learn
scipy
seaborn
send2trash
six
smmap
soupsieve
stack-data
streamlit
terminado
tinycss2
toml
toolz
tornado
traitlets
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
werkzeug>=2.2.0
widgetsnbextension
wtforms
zipp
